.y{
    position: absolute;
    top: 300px;
  

}
.container .y{
align-items: center;
font-weight: bolder;

}
.container .y, h5, h1,h1,button{
    margin-left:50px ;
}
.container img{
    width:1500px;
    height: 700px;

}
.m{
    position: sticky;
    top:0;
}
.container .u {
    background-color: beige;
    color: black;
    background-size: cover;
    position: sticky;
    top:0;

}
.o .bg-warning{
    background-size: 100;
     text-align: center;
      color:aliceblue;
      margin-left: 0; 
    line-height: 100px;
      align-items: center;
    
    
}
.o,h1{
    margin-bottom:30px ;
}
.k ,h2 {
justify-content: left;
margin-left: 99px;
margin-top: 50px;
}
.p{
    
    background-color: rgb(247, 142, 45);
height:170px;
width: 100%;

   

}
.p ,h6,h2{
    
    color: aliceblue;
    text-align: center;

}


/*.image-container img {
    width: 100%;
    height: 100%;
    display: block;
}

.image-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    

   /* CSS for the image hover effect */
/* CSS for the image hover effect */
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.image-container > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.image-wrapper {
    position: relative;
    margin: 2px;
    width: 280px;
    height: 200px;
    
    margin-right: 40px;
}

.image-wrapper img {
   
    display: block;
    transition: transform 0.3s ease;
}

.image-wrapper .overlay {
    position: absolute;
    top: 0%;
    bottom: 2%;
  
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* Semi-transparent black */
    background-size: cover;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: crosshair;
}

.image-wrapper:hover img {
    transform: scale(1.1);
}

.image-wrapper:hover .overlay {
    opacity: 1;
}

.gg{
    display: flex;
   
}
.u{
    margin: 20px;
}
footer {
    background-color:rgb(246, 243, 243);
    color: black;
    padding: 20px 0;
    margin-top: 20px;

}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-image img, 
.footer-social-media img {
    width: 40px;
    height: 40px;
}
.v{
    position: absolute;
    top:77.4%;
    left: 7%;
    font-weight:bolder ;
    position: fixed;
}
.sa{
    position: absolute;
    top:77.5%;
    left: 29.3%;
    font-weight:bolder ;
}
.ri{
    position: absolute;
    top:77.5%;
    left: 53.3%;
    font-weight:bolder ;
}
.ga{ position: absolute;
    top:77.5%;
    left: 77.3%;
    font-weight:bolder ;
}
.ui{
    width: 20px;
    height: 20px;
}


    
@media (max-width: 768px) {
    .offcanvas {
        width: 100% !important;
        height: auto !important;}
    }
    .tr{
        position: relative;
    
    }
    .btt{
        z-index:1;

    }
    .tp{
position: absolute;
top:0;
left:0;
z-index: 2;

    }